@import "tailwindcss";
:root {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background-color: #333;
  color: white;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}
